@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
.dark {
  --background: 0 0% 95%;
  --foreground: 0 0% 20%;
  --card: 0 0% 95%;
  --card-foreground: 0 0% 20%;
  --popover: 0 0% 95%;
  --popover-foreground: 0 0% 20%;
  --primary: 350 100% 70%;
  --primary-foreground: 0 0% 95%;
  --secondary: 200 100% 80%;
  --secondary-foreground: 0 0% 20%;
  --muted: 0 0% 90%;
  --muted-foreground: 0 0% 40%;
  --accent: 300 100% 75%;
  --accent-foreground: 0 0% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 95%;
  --border: 0 0% 80%;
  --input: 0 0% 80%;
  --ring: 0 0% 95%;
  --radius: 0.75rem;
  --chart-1: 350 100% 70%;
  --chart-2: 200 100% 80%;
  --chart-3: 300 100% 75%;
  --chart-4: 50 100% 50%;
  --chart-5: 0 100% 50%;
}

:root {
  --background: 0 0% 10%;
  --foreground: 0 0% 95%;
  --card: 0 0% 10%;
  --card-foreground: 0 0% 95%;
  --popover: 0 0% 10%;
  --popover-foreground: 0 0% 95%;
  --primary: 349.8 100% 70%;
  --primary-foreground: 0 0% 95%;
  --secondary: 200 100% 80%;
  --secondary-foreground: 0 0% 10%;
  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 60%;
  --accent: 300 100% 75%;
  --accent-foreground: 0 0% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 0 0% 95%;
  --border: 0 0% 30%;
  --input: 0 0% 30%;
  --ring: 0 0% 10%;
  --radius: 0.75rem;
  --chart-1: 350 100% 70%;
  --chart-2: 200 100% 80%;
  --chart-3: 300 100% 75%;
  --chart-4: 50 100% 50%;
  --chart-5: 0 100% 50%;
}

}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
